.app {
  width: 100%;
  min-height: 100vh;
  background: var(--background-first);
}

.app-inner {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.app-margin {
  margin: 0 20px;
}

@media (max-width: 1200px) {
  .app-margin {
    margin: 0;
  }
}
