.razdel {
  width: 100%;
  height: 100vh;
  padding: 96px 18px 0px;
  margin-bottom: 96px;
  overflow: visible;
}

.razdel-bg {
  background: url("../assets/phon.png") bottom / cover no-repeat;
  background-position: bottom;
  background-size: contain;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 450vh;
  left: 0;
  overflow: visible;
}

@media (min-width: 426px) {
  .razdel-desktop {
    display: block;
    width: 100%;
    height: 100vh;
    padding: 0px 12px;
  }

  .razdel-desktop-inner {
    max-width: 1760px;
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .razdel-left {
    max-width: 794px;
  }

  .razdel-title {
    font-family:
      "VK Sans Display",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      "Roboto",
      sans-serif;
    font-weight: 600; /* VK Sans Display DemiBold */
    font-style: normal; /* Regular */
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    margin-bottom: 2rem;
    text-align: left;
    white-space: nowrap;
  }

  .razdel-title-gradient {
    background: linear-gradient(90deg, #9e99e2 0%, #3d32e5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .razdel-block {
    margin-bottom: 2rem;
  }

  .razdel-subtitle {
    font-family:
      "VK Sans Display",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      "Roboto",
      sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    margin-bottom: 0.75rem;
    text-align: left;
  }

  .razdel-text {
    font-family:
      "Inter",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      "Roboto",
      sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0%;
    color: #999999;
    margin: 0;
    text-align: left;
    vertical-align: bottom;
  }

  .razdel-right {
    display: flex;
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 1440px) and (min-width: 1025px) {
  .razdel-title {
    font-size: 52px;
  }

  .razdel-subtitle {
    font-size: 30px;
  }

  .razdel-text {
    font-size: 26px;
    line-height: 40px;
  }
}

@media (max-width: 1024px) {
  .razdel-title {
    font-size: 48px;
  }

  .razdel-subtitle {
    font-size: 28px;
  }

  .razdel-text {
    font-size: 24px;
    line-height: 36px;
  }
}

@media (max-width: 544px) {
  .razdel {
    height: auto;
    width: 100vw;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 0px;
  }

  .razdel-desktop {
    padding: 0;
    height: auto;
  }

  .razdel-desktop-inner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    position: relative;
  }

  .razdel-bg {
    position: absolute;
    top: 100px;
    left: -45%;
    width: 250vw;
    background-size: contain;
    filter: blur(5px);
    /* width: 100%; */
  }

  .razdel-title {
    font-size: 2rem;
  }

  .razdel-subtitle {
    font-size: 24px;
  }

  .razdel-text {
    font-size: 16px;
    line-height: 1.5;
    z-index: 2;
  }

  .razdel-right {
    position: absolute;
    opacity: 0.3;
    right: -40%;
    height: 90%;
    width: 90%;
    top: -80%;
    z-index: 0;
  }
}
